/******Digital Clock******/
body{
    /* background: linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%); */
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.clock-container{
    display: flex; 
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 60%;
    height: 60%;
    margin: auto;
    padding: 10px;
    animation: border 2s infinite alternate linear;
}

@keyframes border {
    from {border: 10px purple dotted;}
    to {border: 10px red dotted;}
}

.clock{
    color:whitesmoke;
    font-size: 8vw;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.568);
    box-sizing: border-box;
    border-top: 1px orchid dotted;
    border-bottom: 1px orchid dotted;
    border-radius: 10px;
}

.meridiem-container{
    padding: 10px;
    font-weight: bold;
    font-family: monospace;
    font-size: 2vw;
    color: orchid;
}

@media (max-width: 768px) {
    .clock{
        font-size: 12vw;
    }
}

@media (max-width: 480px) {
    .clock{
        font-size: 15vw;
    }
}

@media (max-width: 320px) {
    .clock{
        font-size: 8vw;
    }
}

.reminder-icon{
    font-size: larger;
    color: white;
}

.reminder-icon:hover{
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}
