/******Digital Clock******/
body{
    background: -webkit-linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock-container{
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.clock{
    color:hsla(186, 33%, 94%, 1);
    font-size: 10vw;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.568);
}

.meridiem-container{
    padding: 10px;
    font-weight: bold;
    font-family: monospace;
    font-size: 2vw;
    color: hsla(186, 33%, 94%, 1);
}

@media (max-width: 768px) {
    .clock{
        font-size: 12vw;
    }
}

@media (max-width: 480px) {
    .clock{
        font-size: 15vw;
    }
}

